<br>
<p>The PathoSpotter project emerged through the desire and enthusiasm of the pathologist Dr. Washington Luís, from the Oswald Cruz Foundation in Brazil, for improving the clinical-pathological diagnoses for renal diseases. In 2014, Dr. Washington met Dr. Angelo Duarte from State University of Feira de Santana (Brazil) and both start the building of the project PathoSpotter.</p>
<p>In the beginning, Pathospotter aimed to assist pathologists in the identification of glomerular lesions from kidney biopsies. As the work evolved, the aim shifted to make large-scale correlations of lesions with clinical and historical data of patients, to enlarge the knowledge in kidney pathology. Currently, the project Pathospotter intends to offer computational tools to:</p>
<ul>
    <li>Facilitate the consensus of clinicians and pathologists, helping to achieve more accurate and faster diagnoses;</li>
    <li>Facilitate large-scale clinical-pathological correlations studies;</li>
    <li>Help pathologists and students in classifying lesions in kidney biopsies.</li>
</ul>