<br><p>O projeto PathoSpotter surgiu do desejo e entusiasmo do patologista Dr. Washington Luís, da Fundação Oswaldo Cruz no Brasil, para aprimorar o diagnóstico clínico-patológico das doenças renais. Em 2014, o Dr. Washington conheceu o Dr. Ângelo Duarte da Universidade Estadual de Feira de Santana (Brasil) e ambos iniciaram a construção do projeto PathoSpotter.</p>
<p>No início, o Pathospotter visava auxiliar os patologistas na identificação de lesões glomerulares a partir de biópsias renais. Com a evolução do trabalho, o objetivo mudou de fazer correlações em larga escala das lesões com dados clínicos e históricos dos pacientes, para ampliar o conhecimento em patologia renal. Atualmente, o projeto Pathospotter pretende oferecer ferramentas computacionais para:</p>
    <ul>
        <li>Facilitar o consenso de clínicos e patologistas, ajudando a obter diagnósticos mais precisos e rápidos;</li>
        <li>Facilitar estudos de correlações clínico-patológicas em larga escala;</li>
        <li>Auxiliar patologistas e estudantes na classificação de lesões em biópsias renais.</li>
    </ul>