<!-- Classe Jumbotron do Bootstrap (https://getbootstrap.com/docs/4.0/components/jumbotron/) -->
<div class="jumbotron" style="background-color: #FDFFFC;">
  <h1 class="display-4">Este é o PathoSpotter Labeling.</h1>
  <p class="lead">Esta é uma ferramenta de marcação colaborativa de imagens de biópsia.</p>
  <hr class="my-4">
  <p>Todos os dados que constam nesta aplicação são restritos. Não é possível usar o sistema sem o cadastro de um usuário válido. </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" style="background-color: #011627; border-color: #011627;" href="/pathospotterlabeling/user/signlog" role="button">Acesse o sistema.</a>
  </p>
</div>
