<!-- Classe Jumbotron do Bootstrap (https://getbootstrap.com/docs/4.0/components/jumbotron/) -->
<div class="jumbotron" style="background-color: #FDFFFC;">
  <h1 class="display-4">This is PathoSpotter Labeling.</h1>
  <p class="lead">This is a collaborative marking tool for biopsy images.</p>
  <hr class="my-4">
  <p>All data in this application is restricted. It is not possible to use the system without registering a valid user. The user will be validated by the system admins.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" style="background-color: #011627; border-color: #011627;" href="/pathospotterlabeling/user/camps" role="button">System Access.</a>
  </p>
</div>
