<h3 class="mt-3">Register a type of lesion:</h3>
<div class="card mt-3">
    <div class="card-body">
        <form action="/pathospotterlabeling/user/lesions/add" method="post">
            <label for="label">Lesion name: </label>
            <input type="text" name="label" id="label" class="form-control">
            <hr>
            <button type="input" class="btn"
                style="background-color: #011627; border-color: #011627; color: #FDFFFC;">Register</button>
        </form>
    </div>
</div>
