<div class="row">
    {{#if user.isAdmin}}
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="/img/pexels-energepiccom-288477.jpg" alt="Manual analysis of an image.">
            <div class="card-body">
                <h5 class="card-title">User Management</h5>
                <p class="card-text">Set permissions for each user on the system.</p>
                <a href="/pathospotterlabeling/admin/users" class="btn btn-primary"
                    style="background-color: #71816d; border-color: #011627; color: #011627;">Manage Users</a>
            </div>
        </div>
    </div>
    {{else}}
    {{/if}}
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="/img/pexels-pixabay-40568.jpg" alt="Diagnosis tools.">
            <div class="card-body">
                <h5 class="card-title">Image Upload</h5>
                <p class="card-text">Make images available so that they can undergo user reviews.</p>
                <a href="/pathospotterlabeling/user/upload" class="btn btn-primary"
                    style="background-color: #71816d; border-color: #011627; color: #011627">Upload</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="/img/pexels-katerina-holmes-5905529.jpg" alt="Manual analysis of an image.">
            <div class="card-body">
                <h5 class="card-title">Image Labeling</h5>
                <p class="card-text">Assign the available images in our gallery matching labels.</p>
                <a href="/pathospotterlabeling/user/images" class="btn btn-primary"
                    style="background-color: #71816d; border-color: #011627; color: #011627;">Gallery</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="/img/pexels-edward-jenner-4033152.jpg" alt="Biopsy observation.">
            <div class="card-body">
                <h5 class="card-title">Injury Management</h5>
                <p class="card-text">Register and view the lesion options available for diagnosis.</p>
                <a href="/pathospotterlabeling/user/lesions" class="btn btn-primary"
                    style="background-color: #71816d; border-color: #011627; color: #011627">Visualize</a>
            </div>
        </div>
    </div>
</div>
