<div class="row">
    {{#if user.isAdmin}}
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="/img/pexels-energepiccom-288477.jpg" alt="Análise manual de uma imagem.">
            <div class="card-body">
                <h5 class="card-title">Gestão de Usuários</h5>
                <p class="card-text">Defina as permissões que cada usuário tem no sistema.</p>
                <a href="/pathospotterlabeling/admin/users" class="btn btn-primary"
                    style="background-color: #71816d; border-color: #011627; color: #011627;">Gerir Usuários</a>
            </div>
        </div>
    </div>
    {{else}}
    {{/if}}
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="/img/pexels-pixabay-40568.jpg" alt="Ferramentas para diagnóstico.">
            <div class="card-body">
                <h5 class="card-title">Upload de Imagens</h5>
                <p class="card-text">Coloque imagens no sistema para que estas possam passar por avaliações dos
                    usuários.</p>
                <a href="/pathospotterlabeling/user/upload" class="btn btn-primary"
                    style="background-color: #71816d; border-color: #011627; color: #011627">Upload</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="/img/pexels-katerina-holmes-5905529.jpg" alt="Análise manual de uma imagem.">
            <div class="card-body">
                <h5 class="card-title">Rotulagem de Imagens</h5>
                <p class="card-text">Escolha uma ou mais imagens em nossa galeria e lhes atribua rótulos.</p>
                <a href="/pathospotterlabeling/user/images" class="btn btn-primary"
                    style="background-color: #71816d; border-color: #011627; color: #011627;">Galeria</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="/img/pexels-edward-jenner-4033152.jpg" alt="Ferramentas para diagnóstico.">
            <div class="card-body">
                <h5 class="card-title">Gestão de Lesões</h5>
                <p class="card-text">Cadastre e visualize as opções de lesões disponíveis no diagnóstico.</p>
                <a href="/pathospotterlabeling/user/lesions" class="btn btn-primary"
                    style="background-color: #71816d; border-color: #011627; color: #011627">Visualizar</a>
            </div>
        </div>
    </div>
</div>
