<h3 class="mt-3">Entre no Sistema</h3>
<div class="card mt-3">
    <div class="card-body">
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" class="form-control" required>
        <label for="pswrd">Senha:</label>
        <input type="password" name="pswrd" id="pswrd" class="form-control" required>
        <hr>
        <button type="input" class="btn" style="background-color: #011627; border-color: #011627; color: #FDFFFC;">Entrar</button>
    </div>
</div>