<h3 class="mt-3">Upload images to the system.</h3>
<div class="card">
    <div class="card-body">
        <form class="mt-4" action="/pathospotterlabeling/user/upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select one or more files:</label>
                <input type="file" multiple name="file" id="input-files" class="form-control-file border" onchange="checkFiles(this.files)" />
                <p class="text-muted">The maximum number of files to be selected is 20.</p>
            </div>
            <button type="submit" class="btn btn-primary"
                style="background-color: #a50300; border-color: #a50300;">Submit Image</button>
        </form>
        <hr>
        <div style="max-width: inherit; min-width: 0cm; box-sizing:border-box;" class="preview-images">
            <table id="previewtable" class="table"></table>
        </div>
    </div>
</div>
<meta http-equiv="Content-Security-Policy"
    content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://onlineerp.solution.quebec 'unsafe-inline' 'unsafe-eval';** ">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        let imagesPreview = function (input, placeToInsertImagePreview) {
            if (input.files) {
                $("#previewtable").empty();
                var files = input.files;
                let filesAmount = input.files.length;
                var table = $('#previewtable').append('<tr><th>Image</th><th>File Name</th></tr>');
                for (i = 0; i < filesAmount; i++) {
                    let reader = new FileReader();
                    reader.fileName = files[i].name;
                    reader.onload = function (event) {
                        var image = $('#previewtable').append('<tr><td><img style="max-width:300px; max-height:300px;" src="' + event.target.result + '"></td><td><p class="text-left">' + reader.fileName + '</p></td></tr>');
                        //$($.parseHTML("<img>"))
                        //.attr("src", event.target.result)
                        //.appendTo(placeToInsertImagePreview);
                        //var end = $('#previewtable').append('</td></tr>'); 
                    };
                    reader.readAsDataURL(input.files[i]);
                }
            }
        };
        $("#input-files").on("change", function () {
            imagesPreview(this, "table#previewtable");
        });
    });
</script>
<script>
    function checkFiles(files) {
        if (files.length > 20) {
            alert("The maximum number of images that can be submitted is 20. Your list has been truncated.");

            let list = new DataTransfer;
            for (let i = 0; i < 20; i++)
                list.items.add(files[i])

            document.getElementById('input-files').files = list.files
        }
    }
</script>